.flexContainer {
    display: flex;
}

.logo {
    height: 120px;
    width: auto;
    margin-right: 10px;
}

.myPicture {
    margin-top: 20px;
    margin-right: 40px;
    height: 400px;
    width: auto;
}


.flexCenter {
    align-items: center;
}

.navigation ul {
    background-color: #364a73;
    width: 100%;
}
.menuItem {
    color:white;
    font-family:Helvetica, sans-serif;
}


.navigation li {
    list-style: none;
    margin-left: 16px;
    background-color: #364a73;
    
}

footer li {
    list-style: none;
    margin-left: 16px;
    background-color: #364a73;   
}

.h1Text {
    font-family: 'Lato', sans-serif;
}

p {
    font-family:"Helvetica", "sans-serif";
    font-size: 16px;
}

footer {
    background-color: #364a73;
    position:fixed;
    bottom: 0;
    width: 100%;
}

.copyRight2022 {
    color: white;
}

.footerLogo {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.vector {
    margin-left: 180px;
}

.skillsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width:480px) {
    p {
        font-size:  52px;
    }
}

.nav-link {
    color:white !important;
}

.dwLogo {
    height: 120px;
    width: auto;
    margin-right: 10px;
}


.heroText {
    max-width: 800px;
}

.centerVerticle{
display: flex;
align-items: center;
}

.icons {
padding: 0 12px;
font-size: 50px;
}

.h2Text{
    margin-top: 30px;
}